<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iberry.com.example.hw9">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="iberry.com.example.hw9.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Forecast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1695162807386307"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="WeatherApp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:label="ResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Main2Activity"
            android:label="DetailsActivity"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="DetailsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5uDfZ2-oz7O2WfWmb9-YVkANJyy4XBmI" />
        <activity
            android:name=".MapViewActivity"
            android:label="@string/title_activity_map_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
            </application>

</manifest>
